<template name="components_paymentContract">
    <div class="col-md-9">
        <div class="panel panel-default panel-dapp">
            <div class="panel-heading">
              Payment Contract
            </div>
            <div class="panel-body">
                {{#with TemplateVar.get 'state'}}
                    {{#if isError}}
                        <div class="alert alert-warning">
                            There was an error deploying your contract.
                            The error was: "{{error}}".
                        </div>
                    {{/if}}
                    {{#if isNotAddressed}}
                    <label>
                        Please paste in Payment Contract Address to watch:
                    </label>

                    <input type="text"
                            id="qualityPayAddress"
                            class="form-control"
                            placeholder="0xfff7891b9c65a7f55e9c40a73ab79f86be5f8f5c" />
                    <br />
                    <button type="button" data-action="findContract" class="btn btn-default btn-deploy">
                        Find Contract!
                    </button>

                    {{/if}}
                    {{#if isMining}}
                        <div class="alert alert-info">
                            Your contract is being mined...
                            <span class="badge text-right">
                                <i class="fa fa-cog fa-spin"></i>
                            </span>
                        </div>
                    {{/if}}

                    {{#if contractExists}}
                    <label>
                        Terms of Vendor Contract at address:
                        <span>{{TemplateVar.get 'contractAddr'}}</span>
                    </label>
                    <hr />
                    <br />
                    <label>
                        Minimum Shipping Cost:   <span>{{TemplateVar.get 'minFee'}} ether</span>
                    </label>
                    <br />

                    <hr />


                    <button type="button" data-action="signContract" class="btn btn-default btn-deploy">
                      Sign Contract! </button>
                      <button type="button" data-action="refreshStatus" class="btn btn-default btn-deploy">
                        Refresh Status </button>

                    {{/if}}
                {{/with}}
            </div>
        </div>

        <div class="panel panel-default panel-dapp">

            <div class="panel-heading">
              Box Trip Events...
            </div>
            <div class="panel-body">
                {{#with TemplateVar.get 'state'}}
                    {{#if contractExists}}
                    <br />
                    <style>
                      table {
                          font-family: arial, sans-serif;
                          border-collapse: collapse;
                          width: 100%;
                      }

                      td, th {
                          border: 1px solid #514441;
                          text-align: left;
                          padding: 8px;
                      }

                      tr:nth-child(odd) {
                          background-color: #dddddd;
                      }
                      </style>
                    <table id="payoutTable">
                      <tr>
                        <td>Party:</td>
                        <td>Payout:</td>
                        <td>Date Stamp:</td>
                      </tr>
                    </table>
                    <br>
                    <table id="paymentTable">
                      <tr>
                        <td>Box ID:</td>
                        <td>Courier ID:</td>
                        <td>Disturbance Type:</td>
                        <td>Status:</td>
                        <td>Date Stamp:</td>
                      </tr>
                    </table>
                    <br>
                    {{/if}}
                {{/with}}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        {{#with TemplateVar.get 'state'}}
            {{#if contractExists}}
                <div class="panel panel-default panel-dapp">
                    <div class="panel-heading">
                        Box Details
                    </div>
                    <div class="panel-body">
                        <div> Box ID: <strong id='Box ID'>{{TemplateVar.get 'aReceiver'}} </strong> </div>
                        <div> Bounty: <strong id='Bounty'>{{TemplateVar.get 'aReceiver'}} </strong> </div>
                        <div> Penalties: <strong id='Penalties'>{{TemplateVar.get 'aReceiver'}} </strong> </div>
                        <div> Start Time: <strong id='Start Time'>{{TemplateVar.get 'aReceiver'}} </strong> </div>
                        <div> End Time: <strong id='End Time'>{{TemplateVar.get 'aReceiver'}} </strong> </div>
                    </div>
                </div>
            {{/if}}
        {{/with}}
    </div>
</template>
