<template name="components_paymentContract">
    <div class="col-md-9">
        <div class="panel panel-default panel-dapp">
            <div class="panel-heading">
              Payment Contract
            </div>
            <div class="panel-body">
                {{#with TemplateVar.get 'state'}}
                    {{#if isError}}
                        <div class="alert alert-warning">
                            There was an error deploying your contract.
                            The error was: "{{error}}".
                        </div>
                    {{/if}}
                    {{#if isNotAddressed}}
                    <label>
                        Please paste in Payment Contract Address to watch:
                    </label>

                    <input type="text"
                            id="qualityPayAddress"
                            class="form-control"
                            placeholder="0x0783d75bb148c06be4ec02ec36d8bb01448dfb3f" />
                    <br />
                    <button type="button" data-action="findContract" class="btn btn-default btn-deploy">
                        Find Contract!
                    </button>

                    {{/if}}
                    {{#if isMining}}
                        <div class="alert alert-info">
                            Your contract is being mined...
                            <span class="badge text-right">
                                <i class="fa fa-cog fa-spin"></i>
                            </span>
                        </div>
                    {{/if}}

                    {{#if contractExists}}
                    <label>
                        Terms of Vendor Contract at address:
                        <span>{{TemplateVar.get 'contractAddr'}}</span>
                    </label>
                    <hr />
                    <label>
                        Minimum Shipping Cost:   <span>{{TemplateVar.get 'minFee'}} ether</span>
                    </label>
                    <hr />

                  <!--   <button type="button" data-action="signContract" class="btn btn-default btn-deploy">
                      Sign Contract! </button>
                      <button type="button" data-action="refreshStatus" class="btn btn-default btn-deploy">
                        Refresh Status </button> -->

                    {{/if}}
                {{/with}}
            </div>
        </div>

        {{#with TemplateVar.get 'state'}}
            {{#if contractExists}}
                <div class="panel panel-default panel-dapp">

                    <div class="panel-heading">
                      Box Trip Events...
                    </div>
                    <div class="panel-body" style="word-wrap: break-word">
                            <br />
                            <style>
                              table {
                                  font-family: arial, sans-serif;
                                  border-collapse: collapse;
                                  width: 100%;
                              }

                              td, th {
                                  border: 1px solid #514441;
                                  text-align: left;
                                  padding: 8px;
                              }

                              tr:nth-child(odd) {
                                  background-color: #dddddd;
                              }
                              </style>
                            <table id="payoutTable">
                              <tr>
                                <td>Party:</td>
                                <td>Payout:</td>
                                <td>Date Stamp:</td>
                              </tr>
                            </table>
                            <br>
                            <table id="paymentTable">
                              <tr>
                                <td>Box ID:</td>
                                <td>Courier ID:</td>
                                <td>Disturbance Type:</td>
                                <td>Status:</td>
                                <td>Date Stamp:</td>
                              </tr>
                            </table>
                            <br>
                    </div>
                </div>
            {{/if}}
        {{/with}}
    </div>
    <div class="col-md-3">
        {{#with TemplateVar.get 'state'}}
            {{#if contractExists}}
                <div class="panel panel-default panel-dapp">
                    <div class="panel-heading">
                        Box Details
                    </div>
                    <div class="panel-body" style="word-wrap: break-word">
                        <div > Box ID: <strong id='Box ID'>{{TemplateVar.get 'boxID'}} </strong> </div>
                        <div> Courier ID: <strong id='Courier ID'>{{TemplateVar.get 'courierID'}} </strong> </div>
                        <div> Sender ID: <strong id='Sender ID'>{{TemplateVar.get 'senderID'}} </strong> </div>
                        <div> Bounty: <strong id='Bounty'>{{TemplateVar.get 'bounty'}} </strong> Wei </div>
                        <div> Penalties: <strong id='Penalties'>{{TemplateVar.get 'disturbedDuration'}} </strong> seconds</div>
                        <div> On Trip: <strong id='On Trip'>{{TemplateVar.get 'onTrip'}} </strong> </div>
                    </div>
                </div>
            {{/if}}
        {{/with}}
    </div>
</template>
